<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.eats.any? %>
      <h2>Sugar intake over 24-hours(<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).sum (:sugar) %>)
      Max (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).maximum (:sugar) %>)
      Min (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).minimum (:sugar) %>)</h2>
      <h2>Carbohydrates eaten over 24-hours(<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).sum (:carbohydrate) %>)
      Max (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).maximum (:carbohydrate) %>)
      Min (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).minimum (:carbohydrate) %>)</h2>
      <h2>Calories added over 24-hours(<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).sum (:calories) %>)
      Max (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).maximum (:calories) %>)
      Min (<%= @user.eats.where({ created_at: (Time.now - 1.day)..Time.now }).minimum (:calories) %>)</h2>
      <ol class="eats">
        <%= render @eats %>
      </ol>
    <% end %>
  </div>
</div>
