<%= form_for(@eat) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :food, placeholder: "Add eaten food item" %>
  </div>
  <div class="field">
    <%= f.text_area :amount, placeholder: "Amount" %>
  </div>
  <div class="field">
    <%= f.number_field :carbohydrate, placeholder: "Carbohydrates" %>
  </div>
  <div class="field">
    <%= f.number_field :sugar, placeholder: "Sugar" %>
  </div>
  <div class="field">
    <%= f.number_field :calories, placeholder: "Calories" %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
