<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Serving size:</strong>
  <%= @food.serving_size %>
</p>

<p>
  <strong>Serving unit:</strong>
  <%= @food.serving_unit %>
</p>

<p>
  <strong>Sugar:</strong>
  <%= @food.sugar %>
</p>

<p>
  <strong>Carbohydrate:</strong>
  <%= @food.carbohydrate %>
</p>

<p>
  <strong>Source:</strong>
  <%= @food.source %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @food.calories %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
