<li>
  <span class="food">
      <%= eat.food %>
  </span>
  <span class="amount">
      (<%= eat.amount %>)
  </span>
  <span class="carbohydrate">
      Carbohydrate <%= eat.carbohydrate %>
  </span>
  <span class="sugar">
      Sugar <%= eat.sugar %>
  </span>
  <span class="calories">
      Calories <%= eat.calories %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(eat.created_at) %> ago 
  </span>
  <% if current_user?(eat.user) %>
    <%= link_to "delete", eat, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: eat.food %>
  <% end %>
</li>
